@using GasstationSimulator.Models
@model GasStation

@{
    ViewBag.Title = "Home";
}

<h2>Welcome to @Model.GetCompanyName()</h2>

<h5>What do you want to do?</h5>
<div class="btn-group btn-group-lg">
    @Html.ActionLink("Fuel", "Index", "Fuel", null, new { @class = "btn btn-primary" })
</div>
<div class="btn-group btn-group-lg">
    @Html.ActionLink("Pay", "Index", "CashRegister", null, new { @class = "btn btn-primary" })
</div>